.displayBox {
    height: 275px;
    width: auto;
}

button {
    margin: 2px;
    cursor:auto;
    border-radius: 6px;

}

h3 {
    text-align: center;
}

/* Add an 'active' class to style the background of the 'Add to Cargo Hold' buttons. */

.active{
    background: rgb(172, 211, 172);
    color: black;
}

.nearMaxMass{
    font-weight: bolder;
    color: red;
    /* border-color:black;
    border: 3px; */
}


/* Add the 'nearMaxMass' class style here: */
